<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some Website</title>
</head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex saepe incidunt temporibus quisquam quis laudantium, eum necessitatibus facere dignissimos obcaecati vitae voluptate, iste error sed rerum, ipsa neque nemo. Est.</p>

  {{> footer}}
</body>
</html>